################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.sw*
*.suo
*.user
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.publishsettings
*.cache
*.pidb
*.svclog
*.vspscc
*.psess
*.vssscc
*.log
*.zip
*.7z
*.sln.ide
project.lock.json
project.fragment.lock.json
artifacts/
**/bin
**/obj
**/out
*.ios/
*.android/
*.macos/
*.uwp/
*.compiled
_*
deploy*
msdeploy*
*.pubxml
*.publishproj
*.database
*.generated.cs
*.mdf
*.ldf
*.pdb
*.dll
*.exe
*.log
*.vscode
bin/
obj/
.vscode/
*.nupkg
*.pupkg
*.snupkg
*.gpupkg
*.xupkg
*.mpupkg
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings
.idea/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.Cache
*.log
*.bak
*.pfx